.post-item
  box-shadow(0 2px 4px rgba(0,0,0,.6))
  padding: 0px

  .modal-body
    min-height: 130px
    max-height: 130px
    img
      max-height: 130px
    .body
      max-height: 130px
      overflow: hidden
    .img-container
      text-align: center
