.post-item
  box-shadow(0 2px 4px rgba(0,0,0,.6))
  padding: 0px

  .modal-body
    min-height: 160px
    max-height: 160px
    img
      max-width: 160px
      max-height: 160px
    .body
      max-height: 160px
      overflow: hidden
    .img-container
      text-align: center
