<div class='comment-inner-container row-fluid'>
  <div class='span3'>
    <small>Paskelbta:</small><br>
    <% if (new XDate(created_at).toString('MM d yyyy') == new XDate().toString('MM d yyyy')) { %>
      <small class='text-error'>Šiandien!</small>
    <% } else { %>
      <small><%= new XDate(created_at).toString('ddd, MMM d, yyyy') %></small>
    <% } %>
  </div>

  <div class='span9'>
    <dl class='dl-horizontal'>
      <dt>Vardas:</dt>
      <dd><%= author_name %></dd>
    </dl>
    
    <hr/>
    <dl class='dl-horizontal'>
      <dt>Komentaras:</dt>
      <dd><%= author_comment %></dd>
    </dl>
  </div>
</div>
