@import 'post_item/main'
@import 'post_create/main'
@import 'post_details/main'
@import 'post_comments/main'

.container.main
  margin-top: 40px

.welcome-msg
  text-align: center
  color: whiteSmoke

.spinner
  margin: 30px auto 0 auto
