@import 'post_item/main'
@import 'post_create/main'
@import 'post_details/main'
@import 'post_comments/main'
@import 'contact_poster/main'

body
  h1, h2, h3
    font-weight: 400
    color: #999

.container.main
  margin-top: 40px

.welcome-msg
  text-align: center
  color: whiteSmoke

.spinner
  margin: 30px auto 0 auto

button
  div.spinner
    display: inline-block
    height: 5px !important
    width: 0 !important
    margin: 0 0 0 18px !important
