<div class='modal-header'>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3> <%= title %> </h3>
</div>

<div class='modal-body'>
  <div class='row-fluid'>
    <div class='span6'>
      <% if (post_image === undefined) { %> 
        <img src='images/anonym.jpg'>
      <% } else { %>
        <img src=<%= post_image %> />
      <% } %>
    </div>

    <div class='span6'>
      <% if (body != undefined) { %>
        <dl class='dl-horizontal'>
          <dt>Paskelbta:</dt>
          <dd><%= new XDate(created_at).toString('dddd, MMM d, yyyy') %>
          <dt>Detaliau:</dt>
          <dd><%= body %></dd>
        </dl>
      <% } %>
    </div>
  </div>
  <hr class='post-comment-separator'/>

  <div class='row-fluid'>
    <div class='comment-container'></div>
  </div>

</div>
