<div class="modal-body">
  <div class='row-fluid'>
    <div class='span6 img-container'>
      <% if (post_image) { %>
        <img src='<%= post_image %>' />
      <% } else { %>
        <img src='images/anonym.jpg' />
      <% } %>
    </div>
    <div class='span6 body'>
      <% if (body) { %>
        <span><%= body %></span>
      <% } %>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="pull-left">
    <small>Komentarai:</small><span class="badge badge-success"><%= comments.length %></span>
    <small>Prisijungia:</small><span class="badge badge-warning">8</span>
  </div>
  <div class='btn-group'>  
    <button class="btn btn-info btn-small details-btn">Detaliau</button>
    <button class="btn btn-success btn-small join-event-btn">Prisijungti</button>
  </div>
</div>
