<fieldset>
  <div class='control-group'>
    <label class='control-label'>Pavadinimas:</label>
    <div class='controls'>
      <input class='span3' type='text' name='title' maxlength='100' placeholder='daugiausiai 100 ženklų'/ >
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label'>Telefonas:</label>
    <div class='controls'>
      <input class="span3" type="text" name='mobile' maxlength='12' placeholder="pvz.: +3706777777">
      <i class="icon-info-sign" data-toggle='tooltip' title='Užpildę šį langelį, nurodytu numeriu, gausite sms žinutę kas kartą kai kažkas pakomentuos jūsų skelbimą. Tai padės jums greičiau rasti tai ko ieškote.'></i> 
    </div>
  </div>

  <div class='control-group'>
    <label class='control-label'>El paštas:</label>
    <div class='controls'>
      <input class='span3' type='text' name='email' maxlength='50'/>
      <i class="icon-info-sign" data-toggle='tooltip' title='Užpildę šį langelį, nurodytu adresu, gausite laišką kas kartą kai kažkas pakomentuos jūsų skelbimą. Tai padės jums greičiau rasti tai ko ieškote.'></i> 
    </div>
  </div>

  <div class='control-group'>
    <label class='control-label'>Miestas:</label>
    <div class='controls city-select-container'>
      
    </div>
  </div>

  <div class='control-group'>
    <label class='control-label'>Aprašymas:</label>
    <div class='controls'>
      <textarea class='span3' rows='4' name='body' maxlength='300' placeholder='daugiausiai 300 ženklų'/>
    </div>
  </div>

  <div class='control-group file-upload-container'>
    <label class='control-label'>Pasirinkite nuotraką</label>
    <div class='controls'>
      <input class='file-upload' title='Prisekite nuotrauką' type='file' name='post_img_clear'>
    </div>
  </div>
</fieldset>
<img class='img-holder' id='uploadPreview' style='width: 100%;'/>
<canvas class='img-canvas' width='220px' height='140px' style='display: none;'></canvas>
