<fieldset>
  <div class='control-group'>
    <label class='control-label'>Pavadinimas:</label>
    <div class='controls'>
      <input class='span3' type='text' name='title' maxlength='100' placeholder='daugiausiai 100 ženklų'/ >
    </div>
  </div>

  <div class='control-group'>
    <label class='control-label'>Telefonas:</label>
    <div class='controls'>
      <div class="input-prepend">
        <span class="add-on">+370</span>
        <input class="span2" id="prependedInput" type="text" name='mobile' maxlength='8' placeholder="pvz.:67522947">
      </div>
      <span class="help-block"><small>Užpildykite tam, kad gautumėte pranešimus apie jūsų skelbime įvykusius pokyčius</small></span>
    </div>
  </div>

  <div class='control-group'>
    <label class='control-label'>El paštas:</label>
    <div class='controls'>
      <input class='span3' type='text' name='email' maxlength='50'/>
    </div>
  </div>

  <div class='control-group'>
    <label class='control-label'>Aprašymas:</label>
    <div class='controls'>
      <textarea class='span3' rows='4' name='body' maxlength='300' placeholder='daugiausiai 300 ženklų'/>
    </div>
  </div>
</fieldset>
