<select class='city-select'>
  <option></option>
  <option value="1">Vilnius</option>
  <option value="2">Kaunas</option>
  <option value="3">Klaipėda</option>
  <option value="4">Šiauliai</option>
  <option value="5">Panevėžys</option>
  <option value="6">Akmenė</option>
  <option value="7">Alytus</option>
  <option value="8">Anykščiai</option>
  <option value="9">Ariogala</option>
  <option value="10">Birštonas</option>
  <option value="11">Biržai</option>
  <option value="12">Druskininkai</option>
  <option value="13">Elektrėnai</option>
  <option value="14">Gargždai</option>
  <option value="15">Ignalina</option>
  <option value="16">Jonava</option>
  <option value="17">Joniškis</option>
  <option value="18">Juodkrantė</option>
  <option value="19">Jurbarkas</option>
  <option value="20">Kaišiadorys</option>
  <option value="21">Kalvarija</option>
  <option value="22">Karklė</option>
  <option value="23">Kazlų Rūda</option>
  <option value="24">Kėdainiai</option>
  <option value="25">Kelmė</option>
  <option value="26">Kretinga</option>
  <option value="27">Kupiškis</option>
  <option value="28">Kuršėnai</option>
  <option value="29">Lazdijai</option>
  <option value="30">Marijampolė</option>
  <option value="31">Mažeikiai</option>
  <option value="32">Melnragė</option>
  <option value="33">Molėtai</option>
  <option value="34">Neringa</option>
  <option value="35">Nida</option>
  <option value="36">Pagėgiai</option>
  <option value="37">Pakruojis</option>
  <option value="38">Palanga</option>
  <option value="39">Pasvalys</option>
  <option value="40">Plungė</option>
  <option value="41">Prienai</option>
  <option value="42">Radviliškis</option>
  <option value="43">Raseiniai</option>
  <option value="44">Rietavas</option>
  <option value="45">Rokiškis</option>
  <option value="46">Šakiai</option>
  <option value="47">Šalčininkai</option>
  <option value="48">Šilalė</option>
  <option value="49">Šilutė</option>
  <option value="50">Širvintos</option>
  <option value="51">Skaudvilė</option>
  <option value="52">Skuodas</option>
  <option value="53">Švenčionys</option>
  <option value="54">Šventoji</option>
  <option value="55">Tauragė</option>
  <option value="56">Telšiai</option>
  <option value="57">Trakai</option>
  <option value="58">Ukmergė</option>
  <option value="59">Utena</option>
  <option value="60">Varėna</option>
  <option value="61">Vievis</option>
  <option value="62">Vilkaviškis</option>
  <option value="63">Visaginas</option>
  <option value="64">Zarasai</option>
</select>
