.post-comments
  .comment-item
    background: whiteSmoke
    border: 1px solid #DFDFDF
    margin: 0 0 5px 0
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    -o-border-radius: 5px
    border-radius: 5px
    .comment-inner-container
      padding: 5px
      hr
        margin: 0px
