<h3>Sveikiname!</h3>
<h4><%= post.email %></h4>
<h4>Jūsų pranesimas buvo sekmingai patalpintas <a href='http://www.linksmivakarai.lt' target='_blank'>Linksmų vakarų</a> puslapyje</h4>
<h4>Tikimės jog rasite tai ko ieškote</h4>
