.modal.post_details
  img
    display: block
    max-width: 300px
    max-height: 300px
    margin: 0 auto
  hr.post-comment-separator
    margin-bottom: 0px
  .spinner
    margin: 10px auto 0 auto
    height: 10px
