.modal.post_details
  h3
    font-weight: 400
    color: #999
  img
    display: block
    max-width: 300px
    max-height: 300px
    margin: 0 auto
  hr.post-comment-separator
    margin-bottom: 20px
  .spinner
    margin: 10px auto 0 auto
    height: 10px
  form
    margin-top: 10px
