.posts-search
  text-align: center

.city-select 
  text-align: center

#s2id_autogen1
  margin: 0 auto
  display: block

.post-btn
  width: 300px
  display: block
  margin: 10px auto

.select2-choice.select2-default span
  margin-right: 0px !important
